/*Form*/
form{
    border: 3px solid #f1f1f1f1;
}

/*Input*/

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.8;
}

.cancelbtn{
    width: auto;
    padding:10px 18px ;
    color: #f44336;
}

.container{
    padding: 16px;
}

span.psw{
    float: right;
    padding-top: 16px;
}